.fc .fc-scrollgrid-liquid {
    
    margin-top: 20px;
    height: 520px;
    border: 1px solid white;

    border-right: none;
    border-left: none;
    
}


.fc .fc-toolbar.fc-header-toolbar {

    margin-top: 100px;
    margin-right: 300px;
    margin-left: 600px;

}


.fc .fc-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
}


.fc .fc-view-harness-active > .fc-view {
    position: absolute;
    margin-right: 300px;
    margin-left: 300px;
    margin-bottom: 430px;
    border-right: none;
    border-left: none;
    

}

.fc, .fc *, .fc *:before, .fc *:after {
    box-sizing: border-box;
    
}

.fc-direction-ltr .fc-daygrid-event .fc-event-time {
    margin-right: 3px;
    color: rgba(0, 0, 0, 0);
    opacity: 100%;
    border-right: none;
    border-left: none;
}



div.app .fc-view-harness.fc-view-harness-active{
    height: 700px;
}



.fc.fc-media-screen.fc-direction-ltr.fc-theme-standard{
    height: 700px;
}

.fc .fc-col-header-cell-cushion {
    display: inline-block;
    padding: 2px 4px;
    color: black;
    font-family: Montserrat;
    border-right: none;
    border-left: none;
}

.fc .fc-daygrid-day-number {
    position: relative;
    z-index: 4;
    padding: 4px;
    color: black;
}

.fc .fc-toolbar-title {
    font-size: 1.75em;
    margin: 0;
    font-family: Montserrat;
    margin-left: 40px;
}

.fc .fc-button-primary:disabled {
    font-family: Montserrat;

}



.fc .fc-scrollgrid-section-liquid >td {
    height: 100%;
    /* border: 1px solid white; */
    border-right: none;
    border-left: none;
}

.fc .fc-scrollgrid-section-liquid {
    height: 100%;
    border: 1px solid white;
    border-right: none;
    border-left: none;
}

.fc-scroller-harness{
    border-right: none;
    border-left: none;
}




.fc-scrollgrid-liquid th{
    
    border-right: none;
    border-left: none;  
}
 
.fc td{
    border-right: none;
    border-left: none;  
} 

.fc .fc-button:not(:disabled) {
    cursor: pointer;
    font-family: Montserrat;
}